PharmaClient/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:50563/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:50563/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:50563/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFPharma" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_CheckLogin_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLogin" />
  </wsdl:message>
  <wsdl:message name="IService1_CheckLogin_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicines_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicines" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllMedicines_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllMedicinesResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDealers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDealers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllDealers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllDealersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetDealer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetDealer" />
  </wsdl:message>
  <wsdl:message name="IService1_SetDealer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetDealerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllManufacturers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllManufacturers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllManufacturers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllManufacturersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetManufacturer_InputMessage">
    <wsdl:part name="parameters" element="tns:SetManufacturer" />
  </wsdl:message>
  <wsdl:message name="IService1_SetManufacturer_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetManufacturerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetMedicine_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMedicine" />
  </wsdl:message>
  <wsdl:message name="IService1_SetMedicine_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMedicineResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetLedger_InputMessage">
    <wsdl:part name="parameters" element="tns:SetLedger" />
  </wsdl:message>
  <wsdl:message name="IService1_SetLedger_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetLedgerResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLedgers_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLedgers" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAllLedgers_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllLedgersResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteContract_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContract" />
  </wsdl:message>
  <wsdl:message name="IService1_DeleteContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStock_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStock" />
  </wsdl:message>
  <wsdl:message name="IService1_UpdateStock_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateStockResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="CheckLogin">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/CheckLogin" message="tns:IService1_CheckLogin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/CheckLoginResponse" message="tns:IService1_CheckLogin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicines">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllMedicines" message="tns:IService1_GetAllMedicines_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllMedicinesResponse" message="tns:IService1_GetAllMedicines_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllDealers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllDealers" message="tns:IService1_GetAllDealers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllDealersResponse" message="tns:IService1_GetAllDealers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetDealer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetDealer" message="tns:IService1_SetDealer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetDealerResponse" message="tns:IService1_SetDealer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllManufacturers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllManufacturers" message="tns:IService1_GetAllManufacturers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllManufacturersResponse" message="tns:IService1_GetAllManufacturers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetManufacturer">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetManufacturer" message="tns:IService1_SetManufacturer_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetManufacturerResponse" message="tns:IService1_SetManufacturer_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMedicine">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetMedicine" message="tns:IService1_SetMedicine_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetMedicineResponse" message="tns:IService1_SetMedicine_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetLedger">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetLedger" message="tns:IService1_SetLedger_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetLedgerResponse" message="tns:IService1_SetLedger_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllLedgers">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAllLedgers" message="tns:IService1_GetAllLedgers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAllLedgersResponse" message="tns:IService1_GetAllLedgers_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DeleteContract" message="tns:IService1_DeleteContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DeleteContractResponse" message="tns:IService1_DeleteContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateStock">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/UpdateStock" message="tns:IService1_UpdateStock_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/UpdateStockResponse" message="tns:IService1_UpdateStock_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CheckLogin">
      <soap:operation soapAction="http://tempuri.org/IService1/CheckLogin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllMedicines">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllMedicines" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllDealers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllDealers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetDealer">
      <soap:operation soapAction="http://tempuri.org/IService1/SetDealer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllManufacturers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllManufacturers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetManufacturer">
      <soap:operation soapAction="http://tempuri.org/IService1/SetManufacturer" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetMedicine">
      <soap:operation soapAction="http://tempuri.org/IService1/SetMedicine" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetLedger">
      <soap:operation soapAction="http://tempuri.org/IService1/SetLedger" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllLedgers">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAllLedgers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteContract">
      <soap:operation soapAction="http://tempuri.org/IService1/DeleteContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateStock">
      <soap:operation soapAction="http://tempuri.org/IService1/UpdateStock" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:50563/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>